@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body,
html {
	height: 100%;
	display: grid;
	font-family: "Staatliches", cursive;
	background: #000000;
	color: black;
	font-size: 1vw;
	letter-spacing: 0.1vw;
	
}

.ticket {
	margin: auto;
	display: flex;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left {
	display: flex;
}

.image {
	height: 18vw;
	width: 20vw;
	background-image: url("https://manaberita.com/v1/uploads/2022/02/Lirik-Lagu-Tujuh-Belas-Tulus.jpg");
	background-size: contain;
	opacity: 0.85;
}

.admit-one {
	position: absolute;
	color: darkgray;
	height:17vw;
	padding: 0 1vw;
	letter-spacing: 0.15vw;
	display: flex;
	text-align: center;
	justify-content: space-around;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
	color: white;
	font-weight: 700;
}

.left .ticket-number {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1vw;
}

.ticket-info {
	padding: 1vw 3vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.date {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 0.5vw 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date span {
	width: 8vw;
}

.date span:first-child {
	text-align: left;
}

.date span:last-child {
	text-align: right;
}

.date .june-29 {
	color: #d83565;
	font-size: 1vw;
}

.show-name {
	font-size: 2vw;
	font-family: "Nanum Pen Script", cursive;
	color: #d83565;
}

.show-name h1 {
	font-size: 5vw;
	font-weight: 700;
	letter-spacing: 0.1vw;
	color: #4a437e;
}

.seatclass {
	padding: 1vw 0;
	color: #4a437e;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1vw;
	font-weight: 500;
	font-size: 3vw;
}
.location {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 0.8vw;
	border-top: 0.1vw solid gray;
}

.location .separator {
	font-size: 2vw;
}

.right {
	width: 12vw;
	border-left: 0.1vw dashed #404040;
}

.right .admit-one {
	color: darkgray;
}

.right .admit-one span:nth-child(2) {
	color: gray;
}

.right .right-info-container {
	height: 17vw;
	padding: 3vw 3vw 3vw 3vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}


.barcode {
	height: 10vw;
}

.barcode img {
	height: 80%;
}

.right .ticket-number {
	color: gray;
}